 body {
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(300deg, #8B4513, #FFE4C4, #FF6347);
    background-size: 120% 240%;
    animation: gradient-animation 18s ease infinite;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* weather container */

#weather-container {
    height: 90vh;
    background: linear-gradient(180deg, #87CEFA, #B0C4DE,  white);
    background-size: 120% 240%;
    animation: gradient-animation 18s ease infinite;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* Results */

#results-container {
    width: 70%;
}

.result-item {
    padding: 10px;
    list-style: none;
}

/* animation */
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }}


@media (max-width: 1400px){
    .result-item {
        flex-direction: column;
    }

    .resultRatingRatingTotal-item {
        padding-top: 5px;
    }
}


